.week-box {
    border: solid 1px #272727;
    border-radius: 2px;
    min-height: 60px;
    margin-bottom: 4px;
}

.workout-box {
    border: solid 1px #272727;
    border-radius: 2px;
    min-height: 58px;
}