<div class="main w-full">
  <!-- Force Authentication, before anything else is visible -->
  <div *ngIf="!(auth.isAuthenticated$ | async); else loggedIn">
    <!-- <h1>Redirecting to login...</h1> -->
  </div>
  <ng-template #loggedIn>
    <!-- ------------------------------------------------------- -->
    <!-- ---------------------- MAIN MENU ---------------------- -->
    <!-- ------------------------------------------------------- -->
    <mat-sidenav-container class="main-nav-container">
      <!-- Main Menu - Sidenav -->
      <mat-sidenav #sidenav mode="side" opened="false" class="sidenav">
        <mat-nav-list dense>
          <a mat-list-item routerLink="/" class="flex justify-center space-x-2" (click)="closeSidenav()"><mat-icon
              class="align-middle mr-2">home</mat-icon>Home</a>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="fg-accent-500">Training</div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list class="dense-list">
              <a mat-list-item routerLink="/training-week" (click)="closeSidenav()">
                <mat-icon class="align-middle mr-2">fitness_center</mat-icon>Training Week</a>
              <a mat-list-item routerLink="/training-year" (click)="closeSidenav()">
                <mat-icon class="align-middle mr-2">calendar_month</mat-icon>Training Year</a>
              <a mat-list-item routerLink="/training-progress" (click)="closeSidenav()">
                <mat-icon class="align-middle mr-2">trending_up</mat-icon>Training Progress</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="fg-accent-500">Planning</div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
              <a mat-list-item routerLink="/plan-workout" (click)="closeSidenav()">
                <mat-icon class="align-middle mr-2">design_services</mat-icon>Plan Workouts</a>
              <a mat-list-item routerLink="/share-workout" (click)="closeSidenav()">
                <mat-icon class="align-middle mr-2">ios_share</mat-icon>Share Workouts</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="fg-accent-500">Administration</div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
              <a mat-list-item routerLink="/admin-logs" (click)="closeSidenav()">
                <mat-icon class="align-middle mr-2">assignment_late</mat-icon>Error Log</a>
              <a mat-list-item routerLink="/admin-user-roles" (click)="closeSidenav()">
                <mat-icon class="align-middle mr-2">group</mat-icon>User Roles</a>
              <a mat-list-item routerLink="/admin-options" (click)="closeSidenav()">
                <mat-icon class="align-middle mr-2">settings_applications</mat-icon>System Data</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-nav-list>
      </mat-sidenav>

      <!-- Main Menu - Top Bar -->
      <mat-sidenav-content>
        <mat-toolbar class="top-toolbar flex justify-between items-center px-4 py-2 min-h-12 max-h-12">
          <!-- Left Section: Hamburger menu + App Name -->
          <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav" class="text-white">
            <mat-icon>menu</mat-icon>
          </button>
          <!-- <span class="app-name text-lg font-bold ml-2">RepRec</span> -->

          <!-- Center Section: App Logo -->
          <img class="app-logo h-10" src="assets/favicon.png" alt="App Logo">

          <!-- Right Section: User Context-Menu -->
          <div class="flex items-center space-x-2">
            <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User Menu">
              <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
              <a mat-menu-item routerLink="/settings" class="flex justify-center space-x-2"
                (click)="closeSidenav()"><mat-icon class="align-middle mr-2">person</mat-icon>User Settings</a>
              <a mat-menu-item routerLink="/info" class="flex justify-center space-x-2"
                (click)="closeSidenav()"><mat-icon class="align-middle mr-2">info</mat-icon>User Info</a>
              <a mat-menu-item routerLink="/how-to" class="flex justify-center space-x-2"
                (click)="closeSidenav()"><mat-icon class="align-middle mr-2">menu_book</mat-icon>How To</a>
              <div class="flex justify-center">
                <button class="mt-10" mat-raised-button color="accent" (click)="logout()">
                  Logout
                </button>
              </div>
            </mat-menu>
          </div>
        </mat-toolbar>

        <div class="content">
          <!-- ---------------------------------------------------------- -->
          <!-- ---------------------- MAIN CONTENT ---------------------- -->
          <!-- ---------------------------------------------------------- -->
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-template>
</div>