<!-- Header Row -->
<div class="mb-4 flex justify-between">
    <!-- Back button -->
    <button mat-raised-button (click)="goBack()">
        <mat-icon>arrow_back_ios_new</mat-icon>
        <span>Back</span>
    </button>
    <!-- Title (centered) -->
    <h2 class="text-center">Exercises</h2>
    <!-- New Button -->
    <button mat-raised-button color="accent">
        <mat-icon>add</mat-icon>
        <span>New</span>
    </button>
</div>
<!-- Content Row -->
<p>admin-options-exercise works!</p>