@use '@angular/material' as mat;

@include mat.core();

// Define primary, accent and warm palettes
$my-app-primary: mat.define-palette(mat.$grey-palette, 500, 100, 900);
$my-app-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

// Create the app theme based on the defined palettes
$my-app-theme: mat.define-dark-theme((color: (primary: $my-app-primary,
                accent: $my-app-accent,
                warn: $my-app-warn,
            )));

// Apply the theme to all components
@include mat.all-component-themes($my-app-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    padding: 10px;
}

.header,
.content,
.footer {
    padding: 20px;
}